* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 60%;
    align-content: center;
}

fieldset {
    background-color: rgb(191, 87, 212);
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    margin-bottom: 3px;
}

legend {
    font-size: 30px;
}

input,
textarea {
    background-color: rgb(244, 215, 250);
    border-radius: 3px;

}

input:hover,
textarea:hover {
    background-color: darkgrey;
}

button:hover {
    background-color: blueviolet;
}

.container {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;
}

fieldset.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}